<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101307108137-or2c91flev9rjailblvmomedbpqvb1qp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101307108137-or2c91flev9rjailblvmomedbpqvb1qp</string>
	<key>API_KEY</key>
	<string>AIzaSyCNaYehiT8I-L6IeBZpayZPenpeg8U2jTA</string>
	<key>GCM_SENDER_ID</key>
	<string>101307108137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.signInTestApp</string>
	<key>PROJECT_ID</key>
	<string>test-project-78760</string>
	<key>STORAGE_BUCKET</key>
	<string>test-project-78760.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101307108137:ios:ad77ac852ebe16ea018538</string>
</dict>
</plist>